<%- include("partials/header") %>
    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Campgrounds Page</h1>
                <p>View our handpicked campgrounds</p>
                <p>
                    <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add new campground</a>
                </p>
            </div>
        </header>

        <div class="row text-center" style="display:flex; flex-wrap:wrap">
            <%camps.forEach(function(item){%>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img style="height:300px; width:300px" src=<%=item.src%> alt=<%=item.name%>>
                        <div class="caption">
                            <h4><%=item.name%></h4>
                        </div>
                    </div>
                </div>
            <%})%>
        </div>
    </div>

<%- include("partials/footer") %>