<%- include("partials/header") %>
    <h1><%=camp.name%></h1>
    <img style="height:300px; width:300px" src=<%=camp.src%> alt=<%=camp.name%>>
    <p><%=camp.description%></p>
<%- include("partials/footer") %>